@model Supporter.Entity.Cozum

@{
    ViewBag.Title = "Delete";
}

<h2 data-aos="zoom-in-left">Çözümü Sil</h2>

<h3 data-aos="zoom-in-left">Çözümü silmek istediğinize eminmisiniz?</h3>
<div data-aos="zoom-in">
    <h4>Cozum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CozumYazi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CozumYazi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default hvr-grow" /> |
            @Html.ActionLink("Listele", "Index")
        </div>
    }
</div>
