@model Supporter.Entity.Cozum

@{
    ViewBag.Title = "Details";
}

<h2 data-aos="zoom-in-left">Çözüm Detayı</h2>

<div data-aos="zoom-in">
    <h4>Çözüm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CozumYazi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CozumYazi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Çözümleri Listele", "Index")
</p>
