@model Supporter.Entity.ProblemTipi

@{
    ViewBag.Title = "Delete";
}

<h2 data-aos="zoom-in-left">Sil</h2>

<h3 data-aos="zoom-in-left">Bu problem tipini silmek istediğinizden emin misiniz?</h3>
<div data-aos="zoom-in">
    <h4>Problem Tipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemTipiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemTipiAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default hvr-grow" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
