@model Supporter.Entity.ProblemTipi

@{
    ViewBag.Title = "Details";
}

<h2 data-aos="zoom-in-left">Problem Tipi Detayı</h2>

<div data-aos="zoom-in">
    <h4>Problem Tipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemTipiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemTipiAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Problem Tiplerini Listele", "Index")
</p>
